<div id="{{id}}" class="filters {{class}}">    
    <img class="icon_button" style="opacity: 0.5; cursor:default;" src="/img/icon/filter.png" alt="filtrar">
    <div>
        <select id="filter_by" name="filter_by" class="filter_by">
            <option value = "invalid" class="invalid_option">*Filtrar Por*</option>
            <option value="department">Departamento:</option>
            <option value="section">Seção:</option>
            <option value="subsection">Subseção:</option>
            <option value="procedure">Procedimento:</option>
            <option value="user">Nome:</option>
        </select>
    </div>
    <div>
        <!--department-->
        {{#>forms/datalist main_id="department_filter" name="department_filter_list" class="filter_type" }}
            {{#departments}}
                <option value="{{this.dataValues.name}}"></option>
            {{/departments}}
        {{/forms/datalist}}
        <!--section-->
        {{#>forms/datalist main_id="section_filter" name="section_filter_list" class="filter_type " }}
            {{#item_sections}}
                <option value="{{this.dataValues.name}}"></option>
            {{/item_sections}}
        {{/forms/datalist}}
        <!--subsection-->
        {{#>forms/datalist main_id="subsection_filter" name="subsection_filter_list" class="filter_type " }}
            {{#item_subsections}}
                <option value="{{this.dataValues.name}}"></option>
            {{/item_subsections}}
        {{/forms/datalist}}
        <!--procedure-->
        {{#>forms/datalist main_id="procedure_filter" name="procedure_filter_list" class="filter_type" }}
            {{#items}}
                <option value="{{this.dataValues.title}}"></option>
            {{/items}}
        {{/forms/datalist}}
        <!--user-->
        {{#>forms/datalist main_id="user_filter" name="user_filter_list" class="filter_type" }}
            {{#users}}
                <option value="{{this.dataValues.name}}"></option>
            {{/users}}
        {{/forms/datalist}}
    </div>
</div>