{{#if dataValues.description}}
<div class="editable single_item_container">
    <a href="/procedure/{{this.dataValues.id}}" class="itemList section_color_{{department}}">
        <h4 class="item_name">
            {{this.dataValues.title}}
        </h4>
    </a>
    {{>edition/button/delete id=this.dataValues.id target="procedure" redirect=department class="delete_procedure"}}
</div>

{{else}}
<div class="single_item_container">                        
    <h4 class="emptyItemList item_name">
        {{this.dataValues.title}}
    </h4>
    {{>edition/button/delete id=this.dataValues.id target="procedure" redirect=department class="delete_procedure"}}
</div>
{{/if}}