{{#if this.dataValues.approved}}
<section class="item_section" id='{{this.dataValues.name}}'>
    <div class='editable section_title section_color_{{this.dataValues.departmentId}}'>

        <h2 id="section_{{this.dataValues.id}}_title_cotainer" class="section_name section_color_{{this.dataValues.departmentId}}">

            <span class="section_title_text" id="section_{{this.dataValues.id}}_title">
                {{>id_span}}
                {{this.dataValues.name}}
            </span>
            <!-- edit section title form-->
            {{>edition/forms/update/title
                target='section'
                id=this.dataValues.id
                form_class='update_section_title_form'
                redirect=this.dataValues.departmentId
                collumn='name'
                input_value=this.dataValues.name
            }}
        </h2>

        {{>edition/button/edit class="edit_section update_section_title"}}
        {{>edition/button/delete id=this.dataValues.id target='section' redirect=department class="delete_section"}}
    </div>
    <div class="section_content">

    <!--subsections-->
    {{>@partial-block}}
    </div>
</section>
{{/if}}