{{#if this.dataValues.approved}}
<div>
    <div id="{{this.dataValues.name}}" class="item_subsection section_color_{{department}}">
        <div class=" subsection_title">
            <button class="subsection_about_button section_color_{{department}}">
                ?
            </button>
            <h3 class="subsection_name section_color_{{department}}">
                <span class="subsection_name_text">
                    {{this.dataValues.name}}
                </span>
                <!-- edit subsection title form -->
                {{>edition/forms/update/title
                    target='subsection'
                    id=this.dataValues.id
                    form_class='update_subsection_name_form'
                    redirect=department
                    collumn='name'
                }}
                <!-- pencil button -->
                {{>edition/button/edit class="edit_section update_subsection_name"}}
                <!-- trash button -->
                {{>edition/button/delete id=this.dataValues.id target='subsection' redirect=department class="delete_subsection"}}
            </h3>
            {{>main/burger class = 'subsection_burger'}}

        </div>
        
        <div class="subsection_description">
            {{{this.dataValues.description}}}
        </div>

    <!--#region items-->
    <ul class="mainUl">
        <div class="item_subsection_content">
            {{>@partial-block}}
        </div>
    </ul>
    </div>
</div>
{{/if}}