<a href="/destroy_{{target}}/{{this.dataValues.id}}/{{redirect}}" class="delete_button_container all_button {{class}} ">
    <img id="delete_{{target}}_{{id}}" src="/img/icon/trash-bin.png" alt="deletar" class="delete_button">
</a>