<!--#region cabeçalho da pagina -->  
<header class = "header">
    <nav id = "menu" class="section_nav">
        <ul class="nav_links">
            <div class="nav_div">
            {{#item_sections}}
                <li>
                    <h1 class="section_links all_button">{{this.dataValues.name}}</h1>

                    <div class="subsection_links while_hidden">
                        {{#each this.dataValues.item_subsections}}
                        <a class = "all_button subsection_anchor" href = '#{{this.dataValues.name}}'>{{this.dataValues.name}}</a>
                        {{/each}}
                    </div>
                </li>
            {{/item_sections}}
            </div>

            <div class="nav_div">
                <h1 class="section_links all_button">Departamentos</h1>

                <div class="subsection_links while_hidden">
                    {{#each departments}}
                        <a href="/home/{{this.dataValues.id}}" class="all_button">{{this.dataValues.name}}</a>
                    {{/each}}
                </div>
            </div>
        </ul>

        <div id="nav_burger" class="burger all_button" >
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

    </nav>
    

    <nav class="settings_nav">
        <img class="settings_button all_button " src="/img/icon/settings.png" alt="Opções">

        <div class="settings_links_container">
            <a class="all_button settings_anchor" href="/">Departamentos</a>
        </div>
    </nav>
    
    <h1 id = "home" class="headerTitle">
        Guia de Procedimentos
    </h1>

    <!--#region edition buttons-->
    <div class="edit_button_container">
        <!--save changes button-->
        <img class="edition_button save_button icon_button all_button" src="/img/icon/diskette.png" alt="Salvar Mudanças">
        <!--cancel changes button-->
        <img class="edition_button discard_button icon_button all_button " src="/img/icon/close.png" alt="Descartar Mudanças">
        <!--edit button-->
        <img class="edition_button start_edition icon_button all_button show_button" src="/img/icon/pencil.png" alt="Editar">
    </div>
    <!--#endregion-->
</header>

<a href="#home" class="">
    <img class="home_button all_button" src="/img/icon/home.png" alt="Inicio"> 
</a>
<!--#endregion-->

<!--#region content-->
<section id="content">
    <!--#region item sections-->
    {{#item_sections}}
    <section class="item_section" id='{{this.dataValues.name}}'>
        <div class='section_title section_color_{{this.dataValues.departmentId}}'>
            <h2 class="section_color_{{this.dataValues.departmentId}}">{{this.dataValues.name}}</h2>
            <!--pencil button-->
            <img class="edit_section pencil_button edition_button icon_button all_button" src="/img/icon/pencil.png" alt="Editar">
            
        </div>
        <div class="section_content">

        
        <!--#region item subsections-->
        {{#each this.item_subsections}}
        <div>

            <div id="{{this.dataValues.name}}" class="item_subsection section_color_{{../dataValues.departmentId}}">
                <div class="subsection_title">
                    <button class="subsection_about_button section_color_{{../dataValues.departmentId}}">
                        ?
                    </button>
                    <h3 class="subsection_name section_color_{{../dataValues.departmentId}}">{{this.dataValues.name}}</h3>

                    <!--pencil button-->
                    <img class="edit_subsection pencil_button edition_button icon_button all_button" src="/img/icon/pencil.png" alt="Editar">

                    <div class="subsection_burger all_button" >
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                </div>
                
                <div class="subsection_description">
                    {{{this.dataValues.description}}}
                </div>

            <!--#region items-->
            <ul class="mainUl">
                <div class="item_subsection_content">
                {{#each this.items}}
                    {{#if dataValues.description}}
                    <div class="single_item_container">

                        <a href="/procedure/{{this.dataValues.id}}" class="itemList section_color_{{../../dataValues.id}}">
                            <h4 >
                                {{this.dataValues.title}}
                            </h4>
                        </a>
                        <!--pencil button-->
                        <img class="edit_item pencil_button edition_button icon_button all_button" src="/img/icon/pencil.png" alt="Editar">
                    </div>

                    {{else}}
                    <div class="single_item_container">
                        
                        <h4 class="emptyItemList">
                            {{this.dataValues.title}}
                        </h4>
                        <!--pencil button-->
                        <img class="edit_item pencil_button edition_button icon_button    all_button" src="/img/icon/pencil.png" alt="Editar">
                    </div>

                    {{/if}}
                {{/each}}
                <button class="new_item edition_button add_button all_button">+</button>
                </div>
            </ul>
            <!--#endregion-->

            </div>
        </div>
        {{/each}}
        <button class="new_subsection edition_button add_button all_button">+</button>
        <!--#endregion-->
        </div>
    </section>
    {{/item_sections}}
    <button class="new_section edition_button add_button all_button">+</button>
    <!--#endregion-->
</section>
<!--#endregion-->



