<!--#region cabeçalho da pagina -->  
<header class = "header">
    <nav id = "menu">
        <ul class="nav_links">
            {{#item_sections}}
                <li>
                    <h1 class="section_links">{{this.dataValues.name}}</h1>

                    <div class="subsection_links while_hidden">
                        {{#each this.dataValues.item_subsections}}
                        <a class = "" href = '#{{this.dataValues.name}}'>{{this.dataValues.name}}</a>
                        {{/each}}
                    </div>
                </li>
            {{/item_sections}}
        </ul>

        <div id="nav_burger" class="burger" >
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    
    <h1 id = "home" class="headerTitle">Guia de testes</h1>
    

</header>
<!--#endregion-->

<!--#region content-->
<section id="content">
    <!--#region item sections-->
    {{#item_sections}}
    <section class="item_section" id='{{this.dataValues.name}}'>
        <div class='section_title section_color_{{this.dataValues.id}}'>
            <h2 class="section_color_{{this.dataValues.id}}">{{this.dataValues.name}}</h2>
        </div>
        <div class="section_content">

        
        <!--#region item subsections-->
        {{#each this.item_subsections}}
        <div>

            <div id="{{this.dataValues.name}}" class="item_subsection section_color_{{../dataValues.id}}">
                <div class="subsection_title">
                    <button class="subsection_about_button section_color_{{../dataValues.id}}">
                        ?
                    </button>
                    <h3 class="section_color_{{../dataValues.id}}">{{this.dataValues.name}}</h3>

                    <div class="subsection_burger" >
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                    
                    <!--
                    <a href ="#home" class = "buttonAnchor section_color_{{../dataValues.id}}">Inicio</a>
                    -->
                </div>
                

                <div class="subsection_description">
                    {{{this.dataValues.description}}}
                </div>

            <!--#region items-->
            <ul class="mainUl">
                <div class="item_subsection_content">
                {{#each this.items}}
                    {{#if dataValues.description}}
                        <a href="/procedure/{{this.dataValues.id}}" class="itemList section_color_{{../../dataValues.id}}">
                            <li><h4 >{{this.dataValues.title}}</h4></li>
                        </a>
                    {{else if dataValues.solutions}}
                        <a href="/procedure/{{this.dataValues.id}}" class="itemList section_color_{{../../dataValues.id}}">
                            <li><h4>{{this.dataValues.title}}</h4></li>
                        </a>
                    {{else}}
                        <li class=" emptyItemList"><h4>{{this.dataValues.title}}</h4></li>
                    {{/if}}
                {{/each}}
                </div>
            </ul>
            <!--#endregion-->

            </div>
        </div>
        {{/each}}
        <!--#endregion-->
        </div>
    </section>
    {{/item_sections}}
    <!--#endregion-->
</section>
<!--#endregion-->
