<!--#region cabeçalho da pagina -->  
<header class = "header">
    <h1 id = "home" class="headerTitle">Guia de testes</h1>
    
    <nav id = "menu">
        <ul >
            <hr style="color: #fff; height: 2px;">
            {{#item_sections}}
                <li><a class = "buttonAnchor mainColor" href = '#{{this.dataValues.name}}'>{{this.dataValues.name}}</a></li>
            {{/item_sections}}
            
        </ul>
    </nav>
</header>
<!--#endregion-->

<!--#region content-->
<section id="content">
    <!--item sections-->
    {{#item_sections}}
        <section id='{{this.dataValues.name}}'>
            <div class='section_title'>
                <h2>{{this.dataValues.name}}</h2>
                <a href ="#home" class = "buttonAnchor checklist">Inicio</a>
            </div>
            <ul class="mainUl">
        <!--#region item subsections-->
            {{#each this.item_subsections}}
                <div class="item_subsection">
                    <h3>{{this.dataValues.name}}</h3>
                    <div class="itemContent">
                        {{this.dataValues.description}}
                    </div>
            <!--#region items-->
                {{#each items}}
                    <a href=""><li class="itemList"><h4>a{{this.dataValues.title}}</h4></li></a>
                {{/each}}
            <!--#endregion-->

                </div>
            {{/each}}
        <!--#endregion-->
    {{/item_sections}}
        </ul>
    </section>
</section>
<!--#endregion-->
