<!--#region cabeçalho da pagina -->  
<header class = "header">
    <nav id = "menu" class="section_nav">
        <ul class="nav_links">
            <div class="nav_div">
            {{#item_sections}}
                <li>
                    <h1 class="section_links all_button">{{this.dataValues.name}}</h1>

                    <div class="subsection_links while_hidden">
                        {{#each this.dataValues.item_subsections}}
                        <a class = "all_button subsection_anchor" href = '#{{this.dataValues.name}}'>{{this.dataValues.name}}</a>
                        {{/each}}
                    </div>
                </li>
            {{/item_sections}}
            </div>

            <div class="nav_div">
                <h1 class="section_links all_button">Departamentos</h1>

                <div class="subsection_links while_hidden">
                    {{#each departments}}
                        <a href="/home/{{this.dataValues.id}}" class="all_button">{{this.dataValues.name}}</a>
                    {{/each}}
                </div>
            </div>
        </ul>

        

        <div id="nav_burger" class="burger all_button" >
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

    </nav>
    

    <nav class="settings_nav">
        <img class="settings_button all_button " src="/img/icon/settings.png" alt="Opções">

        <div class="settings_links_container">
            <a class="all_button settings_anchor" href="/">Departamentos</a>
        </div>
    </nav>
    
    <h1 id = "home" class="headerTitle">
        Guia de Procedimentos
        
    </h1>
</header>

<a href="#home" class="home_button all_button">
    Inicio 
</a>
<!--#endregion-->

<!--#region content-->
<section id="content">
    <!--#region item sections-->
    {{#item_sections}}
    <section class="item_section" id='{{this.dataValues.name}}'>
        <div class='section_title section_color_{{this.dataValues.departmentId}}'>
            <h2 class="section_color_{{this.dataValues.departmentId}}">{{this.dataValues.name}}</h2>
        </div>
        <div class="section_content">

        
        <!--#region item subsections-->
        {{#each this.item_subsections}}
        <div>

            <div id="{{this.dataValues.name}}" class="item_subsection section_color_{{../dataValues.departmentId}}">
                <div class="subsection_title">
                    <button class="subsection_about_button section_color_{{../dataValues.departmentId}}">
                        ?
                    </button>
                    <h3 class="subsection_name section_color_{{../dataValues.departmentId}}">{{this.dataValues.name}}</h3>

                    <div class="subsection_burger all_button" >
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                    
                    <!--
                    <a href ="#home" class = "buttonAnchor section_color_{{../dataValues.id}}">Inicio</a>
                    -->
                </div>
                

                <div class="subsection_description">
                    {{{this.dataValues.description}}}
                </div>

            <!--#region items-->
            <ul class="mainUl">
                <div class="item_subsection_content">
                {{#each this.items}}
                    {{#if dataValues.description}}
                        <a href="/procedure/{{this.dataValues.id}}" class="itemList section_color_{{../../dataValues.id}}">
                            <li><h4 >{{this.dataValues.title}}</h4></li>
                        </a>
                    {{else}}
                        <li class="emptyItemList"><h4>{{this.dataValues.title}}</h4></li>
                    {{/if}}
                {{/each}}
                </div>
            </ul>
            <!--#endregion-->

            </div>
        </div>
        {{/each}}
        <!--#endregion-->
        </div>
    </section>
    {{/item_sections}}
    <!--#endregion-->
</section>
<!--#endregion-->

<!-- #region concept modal -->
<div id="modal" class="modalContainer ">
    <div id="conceptModalFrame" class="modalFrame">
        <div class="modalHeader">
            <h3 class="modal_title">modal</h3>
            <button class="modalCloseButton all_button">X</button>
        </div>

        <div class="modalContent itemContent"></div>

    </div>
</div>
<!--#endregion-->
