<section class="login form_section">
    {{>forms/header text='Login'}}
    <form class="login_form" action="/auth" method="POST">        
        {{>forms/input_box type="text" name="username" class=' username' label='*Nome de Usuário'}}
        {{>forms/input_box type="password" name="password" label='*Senha'}}
        {{>forms/button_container submit="Entrar"}}
    </form>
</section>

{{#if token}}
  <script type="text/javascript">
    const token = '{{token}}';
    localStorage.setItem("token", token)
    window.location.href = "/home/" + '{{departmentId}}'

    localStorage.setItem("name", '{{user_name}}'),
    localStorage.setItem("department", "{{user_department}}"),
    localStorage.setItem("username", "{{user_username}}"),
    localStorage.setItem("cargo", "{{user_cargo}}"),
    localStorage.setItem("permission", "{{user_permission}}")
  </script>
{{/if}}