<!--#region cabeçalho da pagina -->  
<header class = "header">
    
</header>
<!--#endregion-->

<!--#region content-->
<section id="content">
    
    <!--#region header-->
    <header class = "header">
    <nav id = "menu" class="section_nav procedure_nav">
        <div class="nav_links">
            <div class="nav_div">
                
                <a class="all_button procedure_nav_anchor" href="#description">Descrição</a>
                
                {{#if item_solutions}}
                    <a class="all_button procedure_nav_anchor" href="#solutions">Soluções</a>
                {{/if}}
                {{#if item_obs}}
                    <a class="all_button procedure_nav_anchor" href="#obs">Observações</a>
                {{/if}}
                {{#if item_issues}}
                    <a class="all_button procedure_nav_anchor" href="#issues">Problemas</a>
                {{/if}}
                {{#if comments}}
                    <a class="all_button procedure_nav_anchor" href="#comments">Comentários</a>
                {{/if}}
            </div>
            
            <div class="nav_div">
                <h1 class="section_links all_button">Departamentos</h1>

                <div class="subsection_links while_hidden">
                    {{#each departments}}
                        <a href="/home/{{this.dataValues.id}}" class="all_button">{{this.dataValues.name}}</a>
                    {{/each}}
                </div>
            </div>
        </div>


        <div id="nav_burger" class="burger all_button" >
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

    </nav>
    

    <nav class="settings_nav">
        <img class="settings_button all_button " src="/img/icon/settings.png" alt="Opções">

        <div class="settings_links_container">
            <a class="all_button settings_anchor" href="/">Departamentos</a>
        </div>
    </nav>
    
    <h1 id = "home" class="headerTitle">
        {{procedure.dataValues.title}}
    </h1>
    </header>

    <a href="#home" class="">
        <img class="home_button all_button" src="/img/icon/home.png" alt="Inicio"> 
    </a>
    <!--#endregion-->

        <!--#region item description-->
        {{#if procedure.dataValues.description}}
        <div class="item_content_container">
            <div class="item_content_header">
                <h2 id="description">Descrição</h2>

                <div class="page_content_burger content_burger all_button" >
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
              </div>
            </div>

            <div class="item_content_text">
                {{{procedure.dataValues.description}}}
            </div>
            
        </div>
        {{/if}}
        <!--#endregion-->

        <!--#region item solution-->
        {{#if item_solutions}}
        <div class="item_content_container">
            <div class="item_content_header">                
                <h2 id="solutions">Soluções</h2>
                <div class="page_content_burger content_burger all_button" >
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
            <div class="item_content_text">
                {{#each item_solutions}}
                <div>
                <div class="single_container">
                    <div class="content_header">
                        <h3 class="content_title">{{this.dataValues.title}}</h3>

                        <div class="single_content_burger content_burger all_button" >
                            <div class="line1"></div>
                            <div class="line2"></div>
                            <div class="line3"></div>
                        </div>
                    </div>
                    
                    <div class="content_text">
                        <p>{{{this.dataValues.content}}}</p>
                    </div>
                </div> 
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}}
        <!--#endregion-->

        <!--#region item obs-->
        {{#if item_obs}}
        <div class="item_content_container">
            <div class="item_content_header">                
                <h2 id="obs">Observações</h2>
                <div class="page_content_burger content_burger all_button" >
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
            <div class="item_content_text">
            {{#each item_obs}}
            <div>
            <div class="single_container">
                <div class="content_header">
                    <h3 class="content_title">{{this.dataValues.title}}</h3>

                    <div class="single_content_burger content_burger all_button" >
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                </div>
                
                <div class="content_text">
                    <p>{{{this.dataValues.content}}}</p>
                </div>
            </div> 
            </div>
            {{/each}}
            </div>
        </div>
        {{/if}}
        <!--#endregion-->

        <!--#region item issues-->
        {{#if item_issues}}
        <div class="item_content_container">
            <div class="item_content_header">                
                <h2 id="issues">Possíveis Problemas</h2>
                <div class="page_content_burger content_burger all_button" >
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
            <div class="item_content_text">
            {{#each item_issues}}
            <div>
            <div class="single_container">
                <div class="content_header">
                    <h3 class="content_title">{{this.dataValues.title}}</h3>

                    <div class="single_content_burger content_burger all_button" >
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                </div>
                
                <div class="content_text">
                    <p>{{{this.dataValues.content}}}</p>
                </div>
            </div> 
            </div>
            {{/each}}
            </div>
        </div>
        {{/if}}
        <!--#endregion-->

        <!--#region comments-->
        {{#if comments}}
        <div class="item_content_container">
            <div class="item_content_header">                
                <h2 id="comments">Comentários</h2>
                <div class="page_content_burger content_burger all_button" >
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
            <div class="item_content_text">
            {{#each comments}}
            <div>
            <div class="single_container">
                <div class="content_header">
                    <h3 class="content_title">{{this.dataValues.title}}</h3>

                    <div class="single_content_burger content_burger all_button" >
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                </div>
                
                <div class="content_text">
                    <p>{{{this.dataValues.content}}}</p>
                </div>
            </div> 
            </div>
            {{/each}}
            </div>
        </div>
        {{/if}}
        <!--#endregion-->

        <!--footer-->
        <footer style="display: none;">
            <a href="/home/{{procedure.dataValues.departmentId}}" rel="prev" target="self" class="all_button">Voltar</a>
        </footer>
    </div>
</section>
<!--#endregion-->