<div id="user_list_container" class="{{class}}">
    <header class="list_header">
        <div id="edition_container">
            {{>edition/button/add id="add_user" class="show"}}
            {{>edition/button/main_edit}}
        </div>
        <div id="user_quantity_container">
            <p id="user_quantity">25</p>
            <img id="user_quantity_icon" src="/img/icon/group.png" alt="">
        </div>
    </header>
    <div id="user_list_content" class="list_content">
        {{>edition/forms/user  class=""}}
        {{#departments}}
            {{#each this.users}}
            <div class="user_info_container">
                <img class="user_pic" src="/img/icon/account.png" alt="">
                <div class="user_info">
                    <h1>{{this.dataValues.name}}</h1>
                    <p><strong>Usuário:</strong>  {{this.dataValues.username}}</p>
                    <p><strong>Cargo:</strong>  {{this.dataValues.cargo}}</p>
                    <p><strong>Departamento:</strong>  {{../dataValues.name}}</p>
                    {{#if this.dataValues.adm}}
                        <strong>ADM</strong>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        {{/departments}}
    </div>
</div>