<div class="checkbox_container">
    <input type="checkbox" class="{{input_class}}" name="{{name}}" id="{{name}}">
    <label class="all_button" for="{{name}}" id="{{name}}_label">{{label}}</label>
</div>