<div id="{{main_id}}" class="datalist_container input_box {{class}}">
    <input id="{{name}}_input" class="text_input " list={{name}} name={{name}} required>
    <label class="edit_label" for={{name}}>{{label}}</label>
    <datalist id="{{name}}" name={{name}}>
        {{>@partial-block}}
    </datalist>
</div>