<div class="datalist_container input_box">
    <input class="text_input" list={{name}} name={{name}} required>
    <label class="register_label" for={{name}}>{{label}}</label>
    <datalist id={{name}} name={{name}}>
        {{>@partial-block}}
    </datalist>
</div>