<div class="input_box {{class}}">
    <input id="{{name}}" class="text_input" type="{{type}}" name="{{name}}" required></input>
    <label for="{{name}}" class="register_label">{{text}}</label>
</div>