<div class="input_box textarea">
    <label  for="{{name}}" class="">{{label}}</label>
    <textarea id="{{name}}" type="textarea" style="{{input_style}}" class="{{input_class}}" name="{{name}}" >{{value}}</textarea>
</div>