<div class="item_content_container">
    <div class="item_content_header">                
        <h2 id="{{id}}">{{title}}</h2>
        {{>main/burger class = 'page_content_burger content_burger all_button'}}
    </div>
    <div class="item_content_text">
        {{#each category}}
        {{#if this.dataValues.approved}}
        <div>
        <div class="single_container">
            <div>
                <div class="content_header">
                    <h3>
                        <span class="{{../target}}_title_text">
                            {{this.dataValues.title}}
                        </span>
                        <!-- edit subsection title form -->
                        {{>edition/forms/update/title
                            target=../target
                            id=this.dataValues.id
                            collumn='title'
                            input_value=this.dataValues.title
                            redirect=../redirect
                            form_class=../form_class
                            }}

                        {{>edition/button/edit class=../update_button_class}}
                    </h3>
                    {{>main/burger class='single_content_burger content_burger all_button'}}
                </div>
                <div class="content_text">
                    <p>{{{this.dataValues.content}}}</p>
                </div>
            </div>
        {{>@partial-block}}
        </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>