<div class="req_container">
    <div class="req_info_container">
        <h2 class="req_title_container"><span class="req_title">{{title}}</span></h2>
        <hr>
        {{>@partial-block}}
        
        <hr>
        <p class="req_author_container hide"><strong>Por: </strong><span class="req_author_name">Kevin Alexsander de Jesus</span> </p>

    </div>
    {{#if this.dataValues.description}}
    <div class="req_description_container">
        <p class="req_description_label"><strong>Descrição:</strong></p>
        <p>{{{this.dataValues.description}}}</p>
    </div>
    {{/if}}
    {{#if this.dataValues.content}}
    <div class="req_description_container">
        <p class="req_description_label"><strong>Descrição:</strong></p>
        <p>{{{this.dataValues.content}}}</p>
    </div>
    {{/if}}
        <div class="req_button_container">
            <a href="/delete_{{target_table}}{{this.dataValues.id}}" class="all_button reprove_button" method="delete">Reprovar</a>
            <button class="all_button approve_button">Aprovar</button>
        </div>
</div>
<br><br>
